body { font-family: 'Courier New', Courier, monospace; background: #eef2f3; padding: 20px; }
.container { background: white; padding: 30px; border-radius: 12px; max-width: 500px; margin: auto; box-shadow: 0 4px 15px rgba(0,0,0,0.1); }
h1 { color: #2c3e50; text-align: center; font-family: sans-serif; }
.actions { display: flex; gap: 15px; margin-bottom: 25px; }
button { flex: 1; padding: 12px; cursor: pointer; border: none; border-radius: 6px; font-weight: bold; transition: 0.3s; }
.btn-loan { background: #27ae60; color: white; }
.btn-return { background: #e67e22; color: white; }
input { width: calc(100% - 22px); padding: 10px; margin: 10px 0; border: 2px solid #ddd; border-radius: 6px; }
.card { border-top: 4px solid #27ae60; padding-top: 10px; }



table { width: 100%; border-collapse: collapse; margin-top: 10px; background: white; }
th, td { border: 1px solid #ddd; padding: 10px; text-align: left; font-size: 14px; }
th { background-color: #f2f2f2; }
tr:hover { background-color: #f9f9f9; }

/* Ukrywamy oba szablony domyślnie na ekranie */
.print-only, .print-only-label { 
    display: none; 
}

@media print {
    /* 1. Domyślnie podczas druku ukrywamy wszystko co nie jest potrzebne */
    .no-print { display: none !important; }

    /* 2. Jeśli drukujemy WYPOŻYCZENIE (standardowe window.print() bez klas) */
    #receipt { display: block; }
    .print-only-label { display: none !important; }

    /* 3. Jeśli drukujemy ETYKIETĘ (gdy JS doda klasę 'printing-label') */
    body.printing-label #receipt { 
        display: none !important; 
    }
    body.printing-label .print-only-label { 
        display: block !important; 
        border: none;
    }
}